#include <windows.h>
#ifndef FIXTURE_PATCH
#define FIXTURE_PATCH 30
#endif
1 VERSIONINFO
FILEVERSION 0,9,FIXTURE_PATCH,0
PRODUCTVERSION 0,9,FIXTURE_PATCH,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "ProductName", "Update Test Fixture\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
